.container {
  text-align: center;
  letter-spacing: 30px;
  padding-top: 50px;

  &__switch_label {
    position: absolute;
    display: block;
    top: 20px;
    font-size: 24px;
    line-height: normal;
    letter-spacing: normal;
    left: calc(50% - 100px);
    background-color: yellow;
    padding: 10px;
    width: 200px;
    border: 1px black solid;
  }

  &__switch {
    position: absolute;
    display: none;
    left: -99999px;
    &:checked ~ .item {
      display: block;
      margin: 0 auto;
    }
    &:checked + label {
      background-color: green;
      color: white;
    }
  }
}